html, body {
    overflow: visible !important;
}

div.view-content {
    height: 100% !important;
    padding: 0 !important;
}

.callout.is-collapsible .callout-title {
    cursor: pointer !important;
}

.force-cursor {
    cursor: pointer !important;
}

.mod-header:has(+ .obsidian-banner-wrapper) {
    padding-top: var(--banner-height);
    margin-bottom: calc(-1 * var(--banner-height));
    margin-top: unset;
}
